#wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3.8em;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

h1 {
    font-weight: 700;
    font-size: 3em;
}

p {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-weight: 400;
    font-size: 2em;
}

.cards {
    display: flex;
    gap: 1.5em;
}

ul {
    list-style: none;
}

.flip {
    position: relative;
    width: 250px;
    height: 300px;
    transition: all .7s ease-in-out;
    transform-style: preserve-3d;
}

.flip:hover {
    transform: rotateY(180deg);
}

.flip div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 20px;
}

.front {
    background: rgb(217, 217, 217);
}

.back1, .back2, .back3 {
    transform: rotateY(180deg) translate3d(0, 0, 3px);
}

.back1 {
    background: url("img/card1.png");
}

.back2 {
    background: url("img/card2.png");
}

.back3 {
    background: url("img/card3.png");
}