#wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

h3 {
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 3vh;
}

/* Board */
.board {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    width: 40%;
    height: 50vh;
    border: .1em solid #818181;
}

.put {
    width: 5.25vw;
    height: 5.25vw;
    border-radius: 50%;
    border: .1em solid #818181;
}

/* Stickers */
.stickers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.sticker {
    width: 4.21vw;
    height: 4.21vw;
    border-radius: 50%;
    background-color: hotpink;
}

.sticker.goal {
    width: 5.25vw;
    height: 5.25vw;
    border-radius: 50%;
    background-color: hotpink;
}