#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

h1 {
    font-weight: 700;
    font-size: 3em;
}

.image {
    width: 15vw;
    height: 15vw;
    border: .1em solid #000;
}

.toppings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-weight: 400;
    font-size: 2em;
}

.toppings > .left, .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 1em;
}

.topping {
    padding: .15em;
    background-color: #a4d1ff55;
    border-radius: .3em;
    box-shadow: 0 0 .8em rgba(80, 162, 255, 0.384);
    cursor: pointer;
}

.select {
    background-color: #ff45c12e;
    border-radius: .3em;
    box-shadow: 0 0 .8em rgba(255, 18, 113, 0.33);
    cursor: pointer;
}

button {
    width: 10vw;
    height: 5vh;
    border-radius: 1em;
    font-weight: 400;
    font-size: .8em;
    background-color: aliceblue;
    cursor: pointer;
}

button:hover {
    background-color: rgba(212, 235, 253, 0.456)
}