#wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.ddory {
    position: absolute;
    bottom: -13vh;
    left: 8vw;
    transform: rotate(-12deg);
    width: 20vw;
    height: auto;
    animation: rotation 2s cubic-bezier(0.7,-0.23, 0.2, 0.88) infinite;
}

.vic {
    position: absolute;
    top: -10vh;
    right: 6.2vw;
    width: 23vw;
    height: auto;
    animation: up 2s cubic-bezier(0.53,-0.01, 0.49, 1.33) infinite;
}

/* img keyframes */
@keyframes rotation {
    0% { transform: rotate(-12deg); }
    50% { transform: rotate(12deg); }
    100% { transform: rotate(-12deg); }
}

@keyframes up {
    0% { transform: translateY(0); }
    50% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

.records {
    width: 30%;
}

.title {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 2.5em;
    font-style: italic;
    color: white;
    position: relative;
}

/* 형광펜 밑줄 */
.title::after {
    content: ''; /* 가상 요소 */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    background-color: rgba(0, 0, 0, .68); 
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: .1em;
    z-index: -1;
    transform: skewX(-10deg); /* italic 효과따라 기울어지게 */
}

/* 팡파레 효과 */
.pangpare {
    display: none;
}

.pangpare div {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: absolute;
}

.orange {
    bottom: 132px;
    left: 30.33%;
    background: orangered;
    animation: flow1 1.3s cubic-bezier(.17, .67, .32, .99) infinite;
}
@keyframes flow1 {
    0% {opacity: 0;}
    5% {opacity: 1; bottom: 132px; left: 30.33%;}
    80% {opacity: 1;}
    100% {opacity: 0; bottom: 320px; left: 28%;}
}

.spring {
    bottom: 172px;
    left: 33%;
    background: springgreen;
    animation: flow2 1.3s cubic-bezier(.17, .67, .32, .99) infinite;
}
@keyframes flow2 {
    0% {opacity: 0;}
    5% {opacity: 1; bottom: 172px; left: 33%}
    80% {opacity: 1;}
    100% {opacity: 0; bottom: 342px; left: 23.2%;}
}

.blue {
    bottom: 150px;
    left: 25%;
    background: skyblue;
    animation: flow3 1.3s cubic-bezier(.17, .67, .32, .99) infinite;
}
@keyframes flow3 {
    0% {opacity: 0;}
    5% {opacity: 1; bottom: 150px; left: 25%}
    80% {opacity: 1;}
    100% {opacity: 0; bottom: 322px; left: 15.2%;}
}

.green {
    bottom: 182px;
    right: 30.33%;
    background: green;
    animation: flow4 1.3s cubic-bezier(.17, .67, .32, .99) infinite;
}
@keyframes flow4 {
    0% {opacity: 0;}
    5% {opacity: 1; bottom: 182px; right: 33%}
    80% {opacity: 1;}
    100% {opacity: 0; bottom: 352px; right: 23.2%;}
}

.yellow {
    bottom: 159px;
    right: 36.2%;
    background: yellow;
    animation: flow5 1.3s cubic-bezier(.17, .67, .32, .99) infinite;
}
@keyframes flow5 {
    0% {opacity: 0;}
    5% {opacity: 1; bottom: 159px; right: 36.2%}
    80% {opacity: 1;}
    100% {opacity: 0; bottom: 332px; right: 26.4%;}
}

.pink {
    bottom: 140px;
    right: 20%;
    background: hotpink;
    animation: flow6 1.3s cubic-bezier(.17, .67, .32, .99) infinite;
}
@keyframes flow6 {
    0% {opacity: 0;}
    5% {opacity: 1; bottom: 140px; right: 20%}
    80% {opacity: 1;}
    100% {opacity: 0; bottom: 313px; right: 10%;}
}

.record-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding: 2em;

    font-weight: 400;
    font-size: 2em;
    border: 1px solid #FF2A2A;
}

.record {
    display: flex;
    gap: 1.8em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 4vw;
    height: 4vh;
    color: #fff;
    background-color: #FF2A2A;
    cursor: pointer;
}

.result {
    display: none;
    font-weight: 700;
}

