#wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    overflow: hidden;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px auto;

    font-size: 5em;
    font-weight: 700;
}

.cell-rows {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 50px;
    margin: 50px auto;
}

a:link, a:hover,
a:visited, a:active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.cells {
    flex: 1; /* 동일한 너비 */
    height: 14vh;
    padding: 1.8em;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cells:hover {
    flex: 2; /* 너비 넓어짐 */
}

.cell-rows:hover .cells:not(:hover) {
    flex: 0.8; /* 너비 줄어듦 */
}

.cell-numb {
    align-items: flex-start;
    text-align: left;
    font-size: 2em;
}

.cell-desc {
    align-items: flex-end;
    text-align: right;
    font-size: 1em;
}