#wrap {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px auto;

    font-size: 5em;
    font-weight: 700;
}

.cell-rows  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
    width: 70%;
    height: 300px;
    margin: 50px auto;
}

.cells {
    grid-column: span 4;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cells:hover {
    grid-column: span 6;
}

.cell-rows:hover .cells:not(:hover) {
    grid-column: span 3;
}