#wrap {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px auto;

    font-size: 5em;
    font-weight: 700;
}

/* cell-contents */
.cell-rows  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
    width: 80%;
    margin: 50px auto;
}

.cells {
    border: 1px solid #000;
    /* height: 300px; */
}

cells:hover {
    
}

.cell-1 {
    grid-column: span 5;
    grid-row: span 5;
}

.cell-2 {
    grid-column: span 3;
    grid-row: span 7;
}

.cell-3 {
    grid-column: span 4;
    grid-row: span 6;
}

.cell-4 {
    grid-column: span 4;
    grid-row: span 8;
}

.cell-5 {
    grid-column: span 3;
    grid-row: span 5;
}

.cell-6 {
    grid-column: span 5;
    grid-row: span 6;
}

.cell-7 {
    grid-column: span 5;
    grid-row: span 6;
}

.cell-8 {
    grid-column: span 4;
    grid-row: span 5;
}

.cell-9 {
    grid-column: span 3;
    grid-row: span 6;
}